name: Build and Test

on:
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set environment variables
        run: |
          cp example.env.prod .env.prod
          cp example.env.prod.db .env.prod.db
      - name: Build and test
        run: |
          docker-compose -f compose.yaml build
          cd directus
          sh import.sh
          cd ..
          docker-compose -f compose.yaml up -d
          docker-compose -f compose.yaml down
